@media (max-width:600px){
  .navbar .tags{
          position: absolute;
          top: 5vh;
          left: 0;
          right: 0;
          border-radius: 13% 87% 14% 86% / 85% 23% 77% 15% ;
          flex-direction: column;
          text-align: center;
          background: hsla(53, 74%, 59%, 1);

          background: linear-gradient(90deg, hsla(53, 74%, 59%, 1) 0%, hsla(61, 100%, 81%, 1) 100%);
          
          background: -moz-linear-gradient(90deg, hsla(53, 74%, 59%, 1) 0%, hsla(61, 100%, 81%, 1) 100%);
          
          background: -webkit-linear-gradient(90deg, hsla(53, 74%, 59%, 1) 0%, hsla(61, 100%, 81%, 1) 100%);
          
          filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E4D247", endColorstr="#FDFFA0", GradientType=1 );
          gap: 0;
          overflow: hidden;
  }
  .navbar .tags a{
          padding: 1.5vw;
          font-size: 2vw;

  }
  .menu-icon{
          display: block;
  }
  #menuList{
          transition: all 0.5s;
  }
}

@media (max-width:1000px){
  .navbar .tags{
    font-size: 1.3vw;
  }
  #hero-section .texts .head img{
    height: 70px;
    width: auto;
    margin-top: -50px;
  }
  #hero-section .texts .head h1{
    font-size: 5vw;
  }
  #hero-section .texts h4{
    font-size: 1.2vw;
  }
  #hero-section .texts p{
    font-size: 1.2vw ;
    margin-top: 7vw;
  }
  #breeder-section .right .text h4{
    font-size: 1.4vw;
  }
  #breeder-section .right .text h1{
    font-size: 2.3vw;
  }
  #breeder-section .right .text p{
    font-size: 1.2vw;
  }
  #breeder-section .right .text button{
    height: 6vw;
    width: 12vw;
  }
  #news{
    height: auto;
    width: 100vw;
  }  
  #contact{
    transition: .3s;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:760px){
  .navbar .tags{
    font-size: 1.5vw;
  }
  #hero-section{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #hero-section .texts .tags{
    display: flex;
    gap: 5vw;
    margin-top: 4vw;
  }
  #hero-section .texts .head img{
    height: 50px;
    width: auto;
    margin-top: -30px;
  }
  #hero-section .texts .head h1{
    font-size: 6vw;
  }
  #hero-section .texts h4{
    font-size: 1.6vw;
  }
  #hero-section .texts p{
    font-size: 1.8vw ;
    margin-top: 7vw;
  }
  #hero-section .main-img{
    height: 80vh;
    width: auto;
    display: none;
  }
  #hero-section .texts .one {
    font-size: 1.3vw;
    height: 10vh;
    padding: 2vw;
  }
  #hero-section .texts .two {
    font-size: 1.3vw;
    height: 10vh;
    padding: 2vw;
  }
  #breeder-section .bottom{
    display: none;
  }
  #breeder-section .top{
    height: auto;
    width: 100vw;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3vw;
    /* padding: 2vw 3vw; */
  }
  #breeder-section .top .left{
    height: auto;
  }
  #breeder-section .top .left h1{
    font-size: 4vw;
  }
  #breeder-section .top .left p{
    margin-top: 1vw;
    font-size: 1.8vw;
  }
  #breeder-section .top .left button{
    height: 10vh;
    width: 13vw;
  }
  #breeder-section .right .text h4{
    font-size: 1.9vw;
  }
  #breeder-section .right .text h1{
    font-size: 3vw;
  }
  #breeder-section .right .text p{
    font-size: 1.5vw;
  }
  #breeder-section .right .text button{
    height: 6vw;
    width: 12vw;
  }
  #adoption .top p{
    display: none;
  }
  #adoption .bottom{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  #adoption .bottom .card-1{
    height: 400px;
    width: 280px;
  }
  #adoption .bottom .card-1 p{
    display: none;
  }
  #adoption .bottom .card-1 h3{
  font-size: 4vw;
  }
  #adoption .bottom .card-1 h5{
    font-size: 1.5vw;
  }
  #adoption .bottom #fluffy{
    display: none;
  }
  #adoption .bottom #bruce{
    display: none;
  }
  #news{
    height: auto;
    width: 100vw;
  }  
  #news .top p{
    display: none;
  }
  #news .bottom {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 4vw;
   }
   #news .bottom #two-dogs{
    display: none;
   }
   #news .bottom .card-1 p{
    display: none;
   }
   #news .bottom .card-1 h5{
    font-size: 1.3vw;
   }
   #news .bottom .card-1 h3{
    font-size: 3vw;
   }
   #news .bottom .card-1 button{
    font-size: 1.5vw;
   }
  #contact{
    transition: .3s;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:460px){
  .navbar .tags{
    /* font-size: 1.5vw; */
  }
  .navbar .logo{
    font-size: 3vw;
  }
  .navbar .adopt-here{
    height: 5vh;
    width: 15vw;
    font-size: 2vw;
  }
  #hero-section{
    padding: 0;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
  }
  #hero-section .texts .tags{
    display: flex;
    gap: 5vw;
    margin-top: 4vw;
    
  }
  #hero-section .texts .head img{
    height: 70px;
    width: auto;
    margin-top: -80px;
  }
  #hero-section .texts .head h1{
    font-size: 10vw;
  }
  #hero-section .texts h4{
    font-size: 3vw;
  }
  #hero-section .texts p{
    font-size: 3vw ;
    margin-top: 7vw;
  }
  #hero-section .main-img{
    display: none;
  }
  #hero-section .texts .one {
    font-size: 2vw;
    height: 10vh;
    width: 15vw;
    padding: 2vw;
  }
  #hero-section .texts .two {
    font-size: 2vw;
    height: 10vh;
    padding: 2vw;
    width: 15vw;
  }
  #breeder-section .bottom{
    display: none;
  }
  #breeder-section .top{
    height: auto;
    width: 100vw;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3vw;
    /* padding: 2vw 3vw; */
  }
  #breeder-section .top .left{
    height: auto;
  }
  #breeder-section .top .left h1{
    font-size: 6vw;
  }
  #breeder-section .top .left p{
    margin-top: 1vw;
    font-size: 3vw;
  }
  #breeder-section .top .left button{
    height: 10vh;
    width: 13vw;
  }
  #breeder-section .right .text h4{
    font-size: 2.3vw;
  }
  #breeder-section .right .text h1{
    font-size: 5vw;
  }
  #breeder-section .right .text p{
    font-size: 2.3vw;
  }
  #breeder-section .right .text button{
    height: 10vw;
    width: 18vw;
  }
  #adoption .top p{
    display: none;
  }
  #adoption .bottom{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 2vw;
  }
  #adoption .bottom .card-1{
    height: 400px;
    width: 280px;
  }
  #adoption .bottom .card-1 p{
    display: none;
  }
  #adoption .bottom .card-1 h3{
  font-size: 4vw;
  }
  #adoption .bottom .card-1 h5{
    font-size: 1.5vw;
  }
  #adoption .bottom #fluffy{
    display: none;
  }
  #adoption .bottom #bruce{
    display: none;
  }
  #news{
    height: auto;
    width: 100vw;
  }  
  #news .top p{
    display: none;
  }
  #news .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vw;
   }
   #news .bottom #two-dogs{
    display: none;
   }
   #news .bottom .card-1 p{
    display: none;
   }
   #news .bottom .card-1 h5{
    font-size: 1.3vw;
   }
   #news .bottom .card-1 h3{
    font-size: 3vw;
   }
   #news .bottom .card-1 button{
    font-size: 1.5vw;
   }
  #contact{
    transition: .3s;
    display: flex;
    flex-direction: column;
  }
  #footer{
    display: none;
  }
}